
body{
    background-color: #F1F1F3;
    font-family: Fira sans;
}

/* Shared Clases */
.card-heading{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 0px;
    margin-bottom: 12px;
}
.card-icon{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

/* Header's Navigation Section Styling */
header nav{
    /* margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 160px;
    margin-right: 160px; */
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 122px;
    padding-right: 122px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav section h3, button{
    font-family: Fira sans;
}
header nav section h3{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
header nav section button{
    background: transparent;
    padding: 15px 30px;
    border: 2px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #006A50;
}

/* Banner Section Styling */
header .banner{
    max-width: 1280px;
    height: 560px;
    margin: 0px auto;
    background-color: #C6E4D6;
    border-radius: 24px;
    font-family: Fira sans;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 80px;
}

.banner .sub-heading{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner .heading{
    width: 622px;
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 0px;
    margin-bottom: 24px;
}
.banner .banner-btn{
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}
.banner .banner-image{
    width: 474.03px;
    height: 400px;
    margin-right: 60px;
}
.text-btn-content{
    text-align: left;
    margin-top: 117px;
    margin-left: 60px;
    margin-bottom: 117px;
}

/* Pillars Section Styling */
.pillar{
    max-width: 1280px;
    height: 324px;
    margin: 0px auto;
}
.pillar-cards{
    font-family: Fira sans;
    display: flex;
    gap: 24px;

}
.pillar-cards h2{
    font-size: 40px;
    font-weight: bold;
}

.card p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.card{
    width: 270px;
    height: 180px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 16px rgb(209, 209, 209);
    padding: 24px;
}

/* Vision Section Styling */
.vision{
    max-width: 1280px;
    height: 765px;
    margin: 0px auto;
}
.vision-text-content h2{
    font-size: 40px;
    font-weight: bold;
    outline-color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-text-content p{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-card{
    border: 1px solid black;
    border-radius: 16px;
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    width: 360px;
}
.vision-card button{
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    font-weight: bold;
    font-family: Fira sans;
    font-size: 16px;
}
.vision-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.quote-card{
    background-color: white;
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 16px;
    border: 1px solid black;
    padding: 48px 24px;
    margin-top: 32px;
    margin-bottom: 80px;
}
.quote-card p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 0px;
}
.quote-card h3{
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    margin-bottom: 4px;
}
.profession{
    margin-bottom: 0px;
}

/* Feedback styling */
.feedback{
    max-width: 1280px;
    height: 409px;
    margin: 0px auto;
    margin-bottom: 160px;
}
.feedback h2{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.feedback-section{
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 32px;
}
.feedback-section table, tr, td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}

.header-row th{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: rgba(9, 161, 92, 0.15);
}
#select-option{
    padding-left: 0px;
}
.question-text{
    width: 945px;
    font-size: 16px;
}
.question-text p{
    font-weight: 600;
    margin: 0px 0px;
}
.custom-select{
    padding: 12.5px 16.5px;
}
table tr td{
    padding: 24px;
}
.select-cell select{
    border: 1px solid black;
    background-color: rgba(9, 161, 92, 0.15);
    padding: 12.5px 16.5px;
    font-size: 16px;
    font-weight: 600;
}

/* Recent News Section Styling */
.news{
    max-width: 1280px;
    margin: 0px auto;
    margin-bottom: 80px;
}
.news h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 0px;
}
.news p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.news-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    background-color: white;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
}
.news-card img{
    height: 306px;
    width: 408px;
    border-radius: 32px;
    border: none;
}
.news-headline{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    margin-bottom: 12px;
}
.news-channel img{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 134px;
}
.news-headline p{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.704);
    font-weight: lighter;
}
.news-headline .news-summary{
    margin-bottom: 32px;
}
.news-read-more-btn{
    background-color: #006A50;
    color: white;
    font-weight: bold;
    padding: 13px 26px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-top: 0px;
}

/* Donation Section Styling */
.donation{
    max-width: 1280px;
    margin: 0px auto;
    margin-bottom: 80px;
}
.donation-text-content h2{
    font-size: 40px;
    color: #0E0E0E;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}
.donation-text-content p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.784);
    text-align: center;
    /* width: 600px; */
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 0px;
    margin-bottom: 32px;
}
.donation-amount{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.amount-btn{
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    background-color: white;
    border: 0.3px solid rgb(206, 206, 206);
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
}
.amount-input{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.donate-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount-input input{
    width: 1000px;
    padding: 20px;
    font-size: 20px;
    border: none;
    margin-bottom: 32px;
}
.amount-input input::placeholder{
    font-size: 20px;
}
.donate-button button{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    padding: 17px 34px;
}